$main-font: 'Lato', sans-serif;
$white: #fff;
$primary: #FF3F3A;
$btn-gradient: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
$secondary: #FFCF2D;
$divider-gradient:  linear-gradient(270.01deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
$success: #03CEA4;
$danger: #FF4242;
$warning: #F89828;
$info: #5A87FC;
$gray-900: #1E212C;
$gray-800: #424551;
$gray-700: #787A80;;
$gray-600: #9A9CA5;
$gray-500: #B3B7BC;
$gray-400: #D7DADD;
$gray-300: #E5E8ED;
$gray-200: #F4F5F7;
$gray-100: #F9F9F9;