.team {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 180px;
    &__row {
        display: flex;
        flex-direction: column;
        @include flex(flex-start, flex-start);
        &-text {
            font-weight: 700;
            @include adaptive-value('font-size', 16, 8);
            line-height: 150%;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $gray-900;
            margin-bottom: 8px;
        }
        &-title {
            font-weight: 900;
            @include adaptive-value('font-size', 46, 28);
            line-height: 130%;
            text-align: center;
            color: $gray-900;
            margin-bottom: 60px;
        }
        .four-members {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .main-member:not(:last-child) {
                margin-right: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .member-name_first,
            .member-name_second,
            .member-name_third {
                font-weight: 700;
                @include adaptive-value('font-size', 20, 10);
                line-height: 150%;
                text-align: center;
                color: $gray-800;
            }
            .main-member-fourth{
            .member-name_fourth{
                font-weight: 700;
                @include adaptive-value('font-size', 20, 10);
                line-height: 150%;
                text-align: center;
                color: $gray-800;
                @include media (1003){
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
            }
            .direction {
                font-weight: 400;
                @include adaptive-value('font-size', 16, 8);
                line-height: 160%;
                text-align: center;
                color: $gray-700;
            }
        }
